@media (min-width: 320px) and (max-width: 375px) {
  .columnas-vista-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }
}

@media (min-width: 425px) and (max-width: 500px) {
  .columnas-vista-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .columnas-vista-grid {
    grid-template-columns: repeat(5, 1fr); /* 5 columnas */
  }
}


@media (min-width: 1024px) and (max-width: 1440px) {
  .columnas-vista-grid {
    grid-template-columns: repeat(6, 1fr); /* 5 columnas */
  }
}

@media (min-width: 1440px) {
  .columnas-vista-grid {
    grid-template-columns: repeat(8, 1fr); /* 5 columnas */
  }
}