.custom-dropdown {
  width: 200px;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  transition: all 0.1s ease; 
  overflow: hidden;
}

.custom-dropdown.expanded {
  height: auto; 
}

.dropdown-header {
  padding: 0px 10px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-icon {
  transition: transform 0.3s ease;
}



.dropdown-content {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.dropdown-content.show {
  max-height: 500px; /* Un valor suficientemente alto para que quepan las opciones */
  opacity: 1;
}

.dropdown-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-list li {
  padding: 10px 20px;
  cursor: pointer;
}

