@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Estilos generales para el scrollbar */
::-webkit-scrollbar {
    width: 6px;  /* ancho del scrollbar */
    height: 6px;  /* necesario para el scrollbar horizontal */
}

/* Estilo del trayecto (track) del scrollbar */
::-webkit-scrollbar-track {
    background: #fff;  /* color de fondo del trayecto */
    border-radius: 10px;  /* bordes redondeados */
}

/* Estilo del control deslizable (thumb) del scrollbar */
::-webkit-scrollbar-thumb {
    background: #e5e7eb;  /* color del control deslizable */
    border-radius: 10px;  /* bordes redondeados */
}

/* Efecto hover sobre el control deslizable */
::-webkit-scrollbar-thumb:hover {
    background: #292735;  /* color al pasar el cursor */
}

/* Opcional: estilo para el botón del scrollbar (arriba y abajo) */
::-webkit-scrollbar-button {
    display: none;  /* ocultar los botones */
}


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}